/shairport-sync
/shairport-sync.exe
/*.o
/*~
*.xml~
/config.mk
/config.h
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
.deps
man/Makefile
man/Makefile.in
scripts/shairport-sync.service
