#!/bin/bash
#
# This starts and stops shairport
#
### BEGIN INIT INFO
# Provides:          shairport
# Required-Start:    $network
# Required-Stop:
# Short-Description: shairport - Airtunes emulator!
# Description:       Airtunes emulator!
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
### END INIT INFO


# Source function library.
. /lib/lsb/init-functions

NAME=ShairPort
DAEMON="/usr/local/bin/shairport/shairport.pl"
PIDFILE=/var/run/$NAME.pid

start() {
    log_daemon_msg "Starting shairport"

    if start-stop-daemon --start --quiet --pidfile "$PIDFILE" --exec "$DAEMON" -b --oknodo -- $DAEMON_ARGS; then
        log_end_msg 0
    else
        log_end_msg 1
    fi
}

stop() {
    log_daemon_msg "Shutting down shairport"

    if start-stop-daemon --stop --quiet --pidfile "$PIDFILE" --retry 1 --oknodo; then
        log_end_msg 0
    else
        log_end_msg 1
    fi
}

status() {
    status_of_proc -p $PIDFILE $DAEMON $NAME && exit 0 || exit $?
}

restart() {
    stop
    sleep 1
    start
}

case "$1" in
    start)
        start
    ;;
    stop)
        stop
    ;;
    status)
        status
    ;;
    restart)
        restart
    ;;
    *)
        log_action_msg "Usage: $0 {start|stop|status|restart}"
    ;;
esac

exit 0